@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.wishlist-app {
  margin: 0 auto;
  width: 1400px;
  margin-top: 175px;
}
.merch {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  transition: opasity 0.6s ease;
}

.merch:hover > :not(:hover) {
  box-shadow: 0 3px 5px;
  opacity: 0.4;
}

.kard {
  width: 258px;
  height: 347px;
  border-radius: 8px;
  margin: 25px 0 0 25px;
  background-color: #fffefe;
  position: relative;
  box-shadow: 0 3px 5px;
  padding: 25px;
}
.kard:hover {
  box-shadow: 0 3px 5px;
}

.kard img {
  width: 208px;
  height: 208px;
  border-radius: 6px;
  object-fit: cover;
}

.app {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px;
  font-family: Arial, sans-serif;
  margin: 20px 0 0 25px;
}

.sort-select {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  transition: border-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.sort-select:hover {
  border-color: #09090a;
  box-shadow: 0 0 8px rgba(58, 58, 58, 0.5);
}

.sort-select:focus {
  outline: none;
  border-color: grey;
  box-shadow: 0 0 8px rgba(13, 13, 14, 0.7);
}
.nike {
  background-color: #fef8f8;
}

.nike button {
  width: 208px;
  height: 38px;
  border-radius: 5px;
  font-family: Rubik;
  font-weight: 300;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #161111;
}
.nike a {
  text-decoration: none;
}
.nike button:hover {
  background-color: #874bb4;
}

.nike p {
  font-size: 13px;
  color: #3e3e42;
  font-weight: 600;
  font-family: R;
  margin-left: 10px;
}
.nike h5 {
  font-size: 13px;
  margin-left: 10px;
  font-weight: bold;
}

.close img {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media screen and (max-width: 768px) {
  .wishlist-app {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .kard {
    margin: 15px 0;
    padding: 15px 0;
  }

  .kard img {
    width: 90%;
    height: auto;
  }
  .close img {
    width: 15px;
    height: 15px;
  }

  .nike button {
    width: 100%;
    font-size: 14px;
  }

  .nike p,
  .nike h5 {
    font-size: 12px;
    margin-left: 5px;
  }

  .app {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .sort-select {
    width: 90%;
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .merch {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
  }

  .kard {
    width: 45%;
    height: auto;
  }

  .nike button {
    width: 90%;
  }

  .app {
    justify-content: center;
  }
}
.wish {
  display: flex;
  text-align: center;
  margin: 0 auto;
  flex-direction: column;
  height: 36vh;
}
.wish img {
  width: 50px;
  height: 50px;
  margin-left: 45px;
}
.wish h2 {
  font-size: 2rem;
  color: #333;
}
.wish button {
  background-color: black;
  color: white;
}
