.header4 {
  width: 1440px;
  height: 757px;
  margin: 0 auto;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .header4gg {
    position: absolute;
    top: 28px;
    left: 120px;
    display: flex;
    justify-content: space-around;
    .header4-left {
      ul {
        display: flex;
        gap: 25px;
        list-style: none;

        li {
          a {
            color: rgb(255, 0, 0);
            font-family: Inter;
            font-size: 12.25px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 1%;
            text-align: left;
            text-decoration: none !important;
          }
        }
        p {
          color: white;
          padding-left: 134px;
          padding-top: 3px;
        }
      }
    }
    .header4-img {
      width: 105.84px;
      height: 26px;
      display: flex;
      margin-left: 400px;
      img {
        width: 22.84px;
        height: 21.5px;
      }
    }
  }
  .header4-center {
    position: absolute;
    top: 218px;
    left: 120px;

    .header4-p4 {
      display: flex;

      p {
        position: absolute;
        left: 120px;
        top: 0;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 12.25px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: left;
      }
      h4 {
        position: absolute;
        left: 165px;
        top: 0;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 12.25px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: left;
      }
      h5 {
        position: absolute;
        left: 215px;
        top: 0;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 12.25px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: left;
      }
      h6 {
        position: absolute;
        left: 265px;
        top: 0;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 12.25px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: left;
      }
    }

    h1 {
      position: absolute;
      left: 120px;
      top: 50px;
      background: linear-gradient(
        130.21deg,
        rgb(255, 255, 255),
        rgb(255, 255, 255)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-family: Ruberoid;
      font-size: 66.88px;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: left;
      text-transform: uppercase;
    }
  }
  .recomen1 {
    background-color: white;
    height: 200px;
    width: 1440px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    margin-top: 21px;
    position: absolute;
    bottom: -25px;

    p {
      color: rgb(145, 145, 145);
      font-family: Inter;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0%;
      text-align: left;
      text-decoration-line: underline;
      padding-left: 120px;
      padding-top: 57px;
    }

    .recomen1-1 {
      margin-top: 30px;
      margin-left: 120px;
      display: flex;
      gap: 10px;

      .recomen1-button-1 {
        width: 175px;
        height: 39px;
        border-radius: 100px;
        background: rgb(235, 235, 235);
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: center;
        border: none;
      }

      .recomen1-button-2 {
        width: 173px;
        height: 39px;
        border-radius: 100px;
        background: rgb(235, 235, 235);
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: center;
        border: none;
      }

      .recomen1-button-3 {
        width: 163px;
        height: 39px;
        border-radius: 100px;
        background: rgb(235, 235, 235);
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: center;
        border: none;
      }
      .recomen1-button-4 {
        width: 163px;
        height: 39px;
        border-radius: 100px;
        background: rgb(235, 235, 235);
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: center;
        border: none;
      }

      .recomen1-button-4 {
        width: 163px;
        height: 39px;
        border-radius: 100px;
        background: rgb(235, 235, 235);
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: center;
        border: none;
      }

      .recomen1-button-5 {
        width: 115px;
        height: 39px;
        border-radius: 100px;
        background: rgb(235, 235, 235);
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: center;
        border: none;
      }

      .recomen1-button-6 {
        width: 125px;
        height: 39px;
        border-radius: 100px;
        background: rgb(235, 235, 235);
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: center;
        border: none;
      }

      .recomen1-button-7 {
        width: 110px;
        height: 39px;
        border-radius: 100px;

        background: rgb(235, 235, 235);

        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: center;

        border: none;
      }
    }
  }
}
.catalog-main {
  margin-top: 57px;
  display: flex;
  gap: 77px;

  .catalog-1 {
    .catolog-1-1 {
      width: 230px;
      height: 507px;

      .catolog-f1 {
        border-bottom: 1px solid black;
        h1 {
          color: rgb(0, 0, 0);
          font-family: Inter;
          font-size: 24px;
          font-weight: 600;
          line-height: 29px;
          letter-spacing: 0%;
          text-align: left;
        }

        ul {
          margin-top: 20px;

          li {
            list-style: none;
            padding-top: 10px;

            a {
              color: rgb(0, 0, 0);
              font-family: Inter;
              font-size: 16px;
              font-weight: 400;
              line-height: 19px;
              text-align: left;
              text-decoration: none;

              span {
                color: black;
                font-family: Inter;
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: left;
              }
            }
          }
        }
      }
      .catolog-f2 {
        ul {
          margin-top: 20px;

          li {
            list-style: none;
            padding-top: 25px;

            a {
              color: rgb(0, 0, 0);
              font-family: Inter;
              font-size: 20px;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0%;
              text-align: left;
              text-decoration: none;
            }
          }
        }
      }
    }
    .catolog-1-2 {
      margin-top: 50px;

      .serach2-inpu2 {
        margin-top: 15px;
        display: flex;
        align-items: center;
        width: 231px;
        padding-left: 10px;
        gap: 10px;
        height: 30px;
        box-sizing: border-box;
        border: 1px solid rgb(179, 179, 179);
        border-radius: 8px;

        background: rgb(255, 255, 255);
        input {
          border: none;
        }
      }
      .search-brend {
        margin-top: 15px;
        display: flex;
        align-items: center;
        width: 231px;
        padding-left: 10px;
        gap: 10px;
        height: 30px;
        box-sizing: border-box;
        border: 1px solid rgb(179, 179, 179);
        border-radius: 8px;

        background: rgb(255, 255, 255);
        input {
          border: none;
        }
      }

      .price-range1 {
        margin-top: 33px;

        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;

        label {
          font-size: 16px;
          //   margin-bottom: 10px;
        }

        .slider-container1 {
          margin-left: -100px;
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: center;

          input[type="range"] {
            // -webkit-appearance: none;
            width: 200px;
            height: 2px;
            background: #ff6f61;
            outline: none;
            // margin: 0 10px;

            &::-webkit-slider-thumb {
              -webkit-appearance: none;
              appearance: none;
              width: 20px;
              height: 20px;
              border: 2px solid black;
              border-radius: 50%;
              background: white;
              cursor: pointer;
            }
          }
        }

        .price-labels1 {
          display: flex;
          justify-content: center;
          margin-top: 10px;
          margin-left: -100px;

          input[type="text"] {
            width: 70px;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px;
            margin: 0 5px;
          }

          span {
            margin: 0 5px;
          }
        }
      }
    }
    .color-options {
      margin-top: 15px;
      label {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        input[type="radio"] {
          display: none;
        }

        .custom-radio {
          width: 16px;
          height: 16px;
          border: 2px solid #000;
          display: inline-block;
          margin-right: 8px;
          border-radius: 50%;
          position: relative;

          &::after {
            content: "";
            width: 10px;
            height: 10px;
            background-color: transparent;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        input[type="radio"]:checked + .custom-radio::after {
          background-color: currentColor;
        }
      }

      .white {
        color: white;
      }

      .red {
        color: red;
      }

      .black {
        color: black;
      }
    }
  }
  .catalog-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    .kros19 {
      width: 284px;
      position: relative;
      height: 298px;
      box-sizing: border-box;
      border: 1px solid rgb(214, 214, 214);
      border-radius: 13px;

      background: rgb(255, 255, 255);
      .mm9 {
        width: 254px;
        height: 148px;
        padding-left: 15px;
        padding-top: 55px;
        img {
          width: 254px;
          height: 148px;
        }
      }
      .pp-19 {
        width: 106px;
        height: 36px;
        border-radius: 13px;

        position: absolute;
        top: 12px;
        left: 14px;

        display: flex;
        justify-content: center;
        align-items: center;

        background: rgb(0, 0, 0);
        color: rgb(252, 255, 98);
        font-family: Inter;
        font-size: 13.2px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
      }
      .pp-29 {
        position: absolute;
        top: 12px;
        left: 14px;
        width: 62px;
        height: 36px;
        border-radius: 13px;

        background: rgb(255, 76, 76);
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 13.2px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
      }
      .pp9 {
        position: absolute;
        width: 59px;
        height: 36px;
        border-radius: 13px;
        color: white;
        background: rgb(0, 0, 0);
        top: 12px;
        left: 14px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .pw19 {
        position: absolute;
        top: 22px;
        right: 14px;
      }
      .main-top19 {
        padding-top: 42px;
        p {
          color: rgb(62, 62, 62);
          font-family: Inter;
          font-size: 15.04px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0%;
          text-align: center;
        }
        h5 {
          color: black;
          font-family: Ruberoid;
          font-size: 15.04px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0%;
          text-align: center;
          position: absolute;
          bottom: 0;
          left: 120px;
        }
      }
    }
  }
}
