.header1709 {
    width: 1440px; 
    height: 453px;
    margin: 0 auto; 
    position: relative;
    img {
        width: 100%; 
        height: 100%;
        margin: 0 auto; 
    }
    .header1709gg{
        position: absolute;
        top: 28px;
        left: 120px;
        display: flex;
        justify-content: space-between;
        .header1709-left{
            ul { 
                display: flex;
                gap: 25px;
                list-style: none;
            
                li {
                    a {
                        color: rgb(255, 255, 255);
                        font-family: Inter;
                        font-size: 12.25px;
                        font-weight: 400;
                        line-height: 15px;
                        letter-spacing: 1%;
                        text-align: left;
                        text-decoration: none !important;
                    }
                }
                p{
    
    color: white;
    padding-left: 134px;
    padding-top: 3px;
                }
            }
            
        }
        .header1709-img{
            width: 105.84px;
height: 26px;
display: flex;
margin-left: 390px;
img{
    width: 22.84px;
height: 21.5px;

}
        }
    }
    .header1709-center{
        position: absolute;
        top: 283px;
        left: 120px;

        h1{
           color: white;
font-family: Ruberoid;
font-size: 66px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
        }
        h2{
            position: absolute;
            top: 252px;
            left: 820px;
            // right: 126px;
            color: rgb(255, 255, 255);
            font-family: Effloresce;
            font-size: 174.72px;
            font-weight: 400;
            line-height: 212px;
            letter-spacing: -2%;
            text-align: left;
        }
      
    }
    .router9{
        display: flex;
        align-items: center;
        position: absolute;
        top: 252px;
        left: 120px;
        h1{
            color: rgb(255, 255, 255);
font-family: Inter;
font-size: 12.25px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0%;
text-align: left;
        }
        p{
            color: rgb(255, 255, 255);
font-family: Inter;
font-size: 12.25px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0%;
text-align: left;  
        }
    }
    
    .header-footer09{
        width: 100%;
        height: 60px;
        background-color: white;
        position: absolute;
        bottom: 0;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
    }

    
}
.main-sport{
    margin-top: 37px;

    .sport-1{

        h1{
            color: rgb(0, 0, 0);
font-family: Ruberoid;
font-size: 40px;
font-weight: 400;
line-height: 54px;
letter-spacing: -2%;
text-align: center;
        }
        p{
            color: rgb(77, 77, 77);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: -2%;
text-align: center;
        }
    }
    .sport-img{
        display: flex;
        gap: 20px;
        margin-top: 86px;

        img{
            width: 387px;
height: 516px;
        }
    }
    .sport-2{
        margin-top: 87px;

        h1{
            color: rgb(0, 0, 0);
font-family: Ruberoid;
font-size: 40px;
font-weight: 400;
line-height: 54px;
letter-spacing: -2%;
text-align: center;
        }

        .sport-grid{
            width: 1200px;
            height: 623px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            margin-top: 40px;
            .grid-1{
                position: relative;
                width: 387px;
                border-radius: 13px;

background: rgb(240, 240, 240);
height: 196px;
h2{
    position: absolute;
    top: 28px;
    left: 20px;
    color: rgb(214, 214, 214);
font-family: Ruberoid;
font-size: 65.1px;
font-weight: 400;
line-height: 90px;
letter-spacing: -2%;
text-align: left;
}
p{
    position: absolute;
    bottom: 18px;
    left: 28px;
    color: rgb(0, 0, 0);
font-family: Ruberoid;
font-size: 28px;
font-weight: 400;
line-height: 38px;
letter-spacing: -2%;
text-align: left;
}
            }
            
            
        }
    }
    .sport-acardion{
margin-top: 71px;
        h1{
            color: rgb(0, 0, 0);
font-family: Ruberoid;
font-size: 40px;
font-weight: 400;
line-height: 54px;
letter-spacing: -2%;
text-align: center;
        }
        p{
            color: rgb(77, 77, 77);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: -2%;
text-align: center;
        }
    }
    .sport-button{
margin-top: 81px;
        h1{
            color: rgb(0, 0, 0);
font-family: Ruberoid;
font-size: 40px;
font-weight: 400;
line-height: 54px;
letter-spacing: -2%;
text-align: center;
        }
        button{
            width: 284px;
height: 56px;
border-radius: 13px;

background: rgb(34, 34, 34);

color: rgb(233, 233, 233);
font-family: Inter;
font-size: 13.2px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0%;
text-align: left;
margin-left: 510px;

display: flex;
justify-content: center;
align-items: center;
margin-top: 21px;
        }
        p{
            color: rgb(173, 173, 173);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: -2%;
text-align: center;
margin-top: 18px;
        }
    }
}