.header2 {
    width: 1440px; 
    height: 757px;
    margin: 0 auto; 
    position: relative;
    margin: 20px auto;
    img {
        width: 100%; 
        height: 100%;
        margin: 0 auto; 
    }
    .header2gg{
        position: absolute;
        top: 28px;
        left: 120px;
        display: flex;
        justify-content: space-around;
        .header2-left{
            ul { 
                display: flex;
                gap: 25px;
                list-style: none;
            
                li {
                    a {
                        color: rgb(255, 255, 255);
                        font-family: Inter;
                        font-size: 12.25px;
                        font-weight: 400;
                        line-height: 15px;
                        letter-spacing: 1%;
                        text-align: left;
                        text-decoration: none !important;
                    }
                }
                p{
    
    color: white;
    padding-left: 134px;
    padding-top: 3px;
                }
            }
            
        }
        .header2-img{
            width: 105.84px;
height: 26px;
display: flex;
margin-left: 400px;
img{
    width: 22.84px;
height: 21.5px;

}
        }
    }
    .header2-menu{
        position: absolute;
        left: 120px;
        top: 97px;
        width: 1200px;
height: 474px;
border-radius: 13px;

background: rgb(255, 255, 255);
.header2-menu1{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 34px;
    padding-right: 48px;

    .menu1{
        h3{
            width: 60px;
            color: rgb(0, 0, 0);
font-family: Ruberoid;
font-size: 17px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
// text-decoration-line: underline;
border-bottom: 1px solid  rgb(0, 0, 0);;
        }
        ul{
            list-style: none;
            padding-top: 30px;

            li{
                padding-top: 12px;
                
                a{
                    text-decoration: none;
                    color: rgb(0, 0, 0);
font-family: Ruberoid;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: -4%;
text-align: left;
                }
            }
        }
    }
    .menu1-img{
        position: relative;
        img{
            width: 272px;
height: 294px;
        }
        h3{
            color: rgb(255, 255, 255);
font-family: Ruberoid;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
position: absolute;
left: 63px;
bottom: 8px;
        }
    }
}
.header2-menu2{
    display: flex;
    justify-content: space-around;
    align-items: center;

    button{

        display: flex;
        justify-content: center;
        align-items: center;

        width: 286px;
height: 56px;

box-sizing: border-box;
border: 1px solid rgb(179, 179, 179);
border-radius: 13px;

background: linear-gradient(80.91deg, rgb(249, 248, 247) 0.262%,rgb(255, 255, 255) 99.748%);

color: rgb(94, 94, 94);
font-family: Inter;
font-size: 13.2px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0%;
text-align: left;
    }
    p{
        background: linear-gradient(270.00deg, rgba(0, 0, 0, 0),rgb(85, 85, 85),rgb(85, 85, 85),rgba(0, 0, 0, 0));
-webkit-background-clip:
text;
-webkit-text-fill-color:
transparent;
background-clip:
text;
font-family: Ruberoid;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
    }
    .header2-button{
        margin-top: 10px;
        h4{
            color: rgb(0, 0, 0);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
        }
        button{
            width: 286px;
height: 56px;

box-sizing: border-box;
border: 1px solid rgb(179, 179, 179);
border-radius: 13px;

background: linear-gradient(80.91deg, rgb(9, 9, 9) 0.262%,rgb(136, 131, 126) 99.748%),linear-gradient(80.91deg, rgb(249, 248, 247) 0.262%,rgb(255, 255, 255) 99.748%),rgba(255, 255, 255, 0.6);

color: rgb(255, 255, 255);
font-family: Inter;
font-size: 13.2px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0%;
text-align: left;

display: flex;
justify-content: center;
align-items: center;
        }
    }
}
    }
}