.header170 {
    width: 1440px; 
    height: 453px;
    margin: 0 auto; 
    position: relative;
    margin-top: 130px;
    img {
        width: 100%; 
        height: 100%;
        margin: 0 auto; 
    }
    .header170gg{
        position: absolute;
        top: 28px;
        left: 120px;
        display: flex;
        justify-content: space-around;
        .header170-left{
            ul { 
                display: flex;
                gap: 25px;
                list-style: none;
            
                li {
                    a {
                        color: rgb(255, 255, 255);
                        font-family: Inter;
                        font-size: 12.25px;
                        font-weight: 400;
                        line-height: 15px;
                        letter-spacing: 1%;
                        text-align: left;
                        text-decoration: none !important;
                    }
                }
                p{
    
    color: white;
    padding-left: 134px;
    padding-top: 3px;
                }
            }
            
        }
        .header170-img{
            width: 105.84px;
height: 26px;
display: flex;
margin-left: 400px;
img{
    width: 22.84px;
height: 21.5px;

}
        }
    }
    .header170-center{
        position: absolute;
        top: 283px;
        left: 120px;

        h1{
           color: white;
font-family: Ruberoid;
font-size: 66px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
        }
        h2{
            position: absolute;
            top: 252px;
            left: 820px;
            // right: 126px;
            color: rgb(255, 255, 255);
            font-family: Effloresce;
            font-size: 174.72px;
            font-weight: 400;
            line-height: 212px;
            letter-spacing: -2%;
            text-align: left;
        }
      
    }
    .router{
        display: flex;
        align-items: center;
        position: absolute;
        top: 252px;
        gap: 2px;
        left: 120px;
        p{
            color: rgb(255, 255, 255);
            font-family: Inter;
            font-size: 12.25px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0%;
            text-align: left; 
        }

        a{
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-family: Inter;
            font-size: 12.25px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0%;
            text-align: left; 
        p{
            // color: rgb(255, 255, 255);
            // font-family: Inter;
            // font-size: 12.25px;
            // font-weight: 400;
            // line-height: 15px;
            // letter-spacing: 0%;
            // text-align: left; 
 
        }
    }
    }
    
    .header-footer0{
        width: 100%;
        height: 60px;
        background-color: white;
        position: absolute;
        bottom: 0;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
    }

    
}
.main-help{
    margin-top: 37px;

    .main-help1{
        
        h1{
            color: rgb(0, 0, 0);
font-family: Ruberoid;
font-size: 40px;
font-weight: 400;
line-height: 54px;
letter-spacing: -2%;
text-align: center;
        }
        p{
            color: rgb(77, 77, 77);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: -2%;
text-align: center;
        }
    }
    .main-help2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 67px;
        
        .help2-f1{
            position: relative;
            width: 387px;
height: 246px;
border-radius: 13px;

background: rgb(240, 240, 240);

h1{
    position: absolute;
    top: 34px;
    left: 30px;
    color: rgb(0, 0, 0);
font-family: Ruberoid;
font-size: 28px;
font-weight: 400;
line-height: 38px;
letter-spacing: -2%;
text-align: center;
}
p{
    position: absolute;
    left: 30px;
    bottom: 34px;
    color: rgb(77, 77, 77);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: -2%;
text-align: left;
}
        }
    }
    .main-help3{
margin-top: 34px;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
        .help2-f2{
            position: relative;
            width: 387px;
height: 246px;
border-radius: 13px;

background: rgb(240, 240, 240);

h1{
    position: absolute;
    top: 34px;
    left: 30px;
    color: rgb(0, 0, 0);
font-family: Ruberoid;
font-size: 28px;
font-weight: 400;
line-height: 38px;
letter-spacing: -2%;
text-align: left;
}
p{
    position: absolute;
    left: 30px;
    bottom: 34px;
    color: rgb(77, 77, 77);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: -2%;
text-align: left;
}
        }
    }
}