.basket-page {
  margin: 100px auto ;

}

.basket-container {
  display: grid;
  gap: 50px;

  h1 {
    margin: auto;
  }
}

.box1 {
  display: flex;
  justify-content: space-between;


  .price {
    font-size: 24px;
    width: 100px;
    text-align: center;
  }

}

.box2 {
  display: flex;
  align-items: start;
  gap: 10px;


  button {
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    padding: 0;
  }

  span {
    font-size: 22px;
    width: 25px;
    text-align: center;
  }
}

.number {
  margin-top: 5px;
  font-size: 20px;
}

.box3 {
  font-size: 22px;
}



.box-left {
  width: 750px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 3px 4px;

  h3 {
    font-size: 25px;
  }

  p {
    margin: 5px 0 10px 0;
    color: #848181;
  }
}

.inbox {
  display: flex;
  gap: 30px;
  width: 350px;

}

.img-product {
  width: 120px;
  height: 130px;
  border-radius: 12px;
}

.detile {
  display: grid;

  img {
    width: 20px;
    height: 19px;
  }

  h5 {
    font-size: 20px;
  }

}

.icons {
  display: flex;
  gap: 15px;
  cursor: pointer;

   .icon-like {
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  }
}


.box-right {
  position: fixed;
  top: 100px;
  right: 150px;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 4px 7px;

  h6 {
    font-size: 22px;
    color: #a73afd;
    ;
  }

  button {
    background-color: #a73afd;
    color: white;
    width: 100%;
    height: 45px;
    border-radius: 12px;
    margin: 20px 0 0 0;
    font-size: 20px;
    cursor: pointer;
  }

  button:hover {
    box-shadow: 0 1px 3px #a73afd;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px 0;
}

.info-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 25px;
    margin-top: 10px;
  }

  span {
    font-size: 22px;
    font-weight: 600;
  }
}

.info-3 {
  display: flex;
  gap: 10px;
}

.optioins {
  display: grid;
  gap: 0;
}

.optioin {
  margin: 30px 0 0 0;
  padding: 25px 20px;
  width: 750px;
  box-shadow: 0 3px 5px;
  border-radius: 10px;

  strong {
    margin: 10px 0;
    font-size: 20px;
    color: #a73afd;
  }

  p {
    margin-top: 10px;
  }
}

.optioin:hover {
  box-shadow: 0 3px 5px #a73afd;
  cursor: pointer;
}

.empty-basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  text-align: center;
  padding: 20px;
  
  h2 {
      font-size: 2rem;
      color: #333;
  }

  .cart-btn{
    background-color: black;
    color: white;
  }
}
