

.top1 {
    width: 1440px;
    margin: 0 auto;
    height: 39px;
    position: relative;
    
    .top11{
        display: flex;
        gap: 30px;
        position: absolute;
        left: 40%;
        top: 50%;
    }
}


.header1 {
    width: 1440px; 
    height: 757px;
    margin: 0 auto; 
    position: relative;
    img {
        width: 100%; 
        height: 100%;
        margin: 0 auto; 
    }
    .header1gg{
        position: absolute;
        top: 28px;
        left: 120px;
        display: flex;
        justify-content: space-around;
        .header1-left{
            ul { 
                display: flex;
                gap: 25px;
                list-style: none;
            
                li {
                    a {
                        color: rgb(255, 255, 255);
                        font-family: Inter;
                        font-size: 12.25px;
                        font-weight: 400;
                        line-height: 15px;
                        letter-spacing: 1%;
                        text-align: left;
                        text-decoration: none !important;
                    }
                }
                p{
    
    color: white;
    padding-left: 134px;
    padding-top: 3px;
                }
            }
            
        }
        .header1-img{
            width: 105.84px;
height: 26px;
display: flex;
img{
    width: 22.84px;
height: 21.5px;

}
        }
    }
    .header1-center{
        position: absolute;
        top: 218px;
        left: 120px;

        h1{
           color: white;
font-family: Ruberoid;
font-size: 66px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
        }
        button{
            width: 200px;
height: 56px;box-sizing: border-box;
border: 1px solid rgb(179, 179, 179);
border-radius: 13px;
margin-top: 21px;


color: rgb(94, 94, 94);
font-family: Inter;
font-size: 13.2px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
        }
        button:hover{
            background-color: goldenrod;
            border: none;
        }
    }

    
}
.main1-status{
        margin: 0 auto;
        position: absolute;
        bottom: -93px;
        left: 0;
    width: 1440px;
    display: flex;
    // justify-content: space-between;
    
    align-items: center;
    gap: 30px;
    
height: 231px;
border-radius: 51px;

background: rgb(255, 255, 255);
.status{
    margin-left: 429px;
    display: flex;
    // justify-content: space-between;
    
    align-items: center;
    gap: 30px;
  .status1{
    img{
        width: 72px;
height: 72px;
    }
    p{
        color: rgb(0, 0, 0);
font-family: Ruberoid;
font-size: 15px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
    }
  }
}
}
.main1{
    margin: 107px auto;

    .main1-brend1{
        display: flex;
        justify-content: space-between;

        h1{
            color: rgb(0, 0, 0);
font-family: Ruberoid;
font-size: 40px;
font-weight: 400;
line-height: 54px;
letter-spacing: -2%;
text-align: left;
        }
        button{
            width: 96px;
height: 36px;
box-sizing: border-box;
border: 1px solid rgb(179, 179, 179);
border-radius: 100px;

        }
    }
    .main1-kros{
        display: flex;
        height: 298px;
        gap: 20px;
        margin-top: 20px;

        .kros1{
            width: 284px;
            position: relative;
height: 298px;
box-sizing: border-box;
border: 1px solid rgb(214, 214, 214);
border-radius: 13px;

background: rgb(255, 255, 255);
.mm{
    width: 254px;
height: 148px;
padding-left: 15px;
padding-top: 55px;
img{
    width: 254px;
height: 148px;
}

}
.pp-1{
    width: 106px;
height: 36px;
border-radius: 13px;

position: absolute;
top: 12px;
left: 14px;

display: flex;
justify-content: center;
align-items: center;


background: rgb(0, 0, 0);
color: rgb(252, 255, 98);
font-family: Inter;
font-size: 13.2px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
}
.pp-2{
    position: absolute;
top: 12px;
left: 14px;
    width: 62px;
height: 36px;
border-radius: 13px;

background: rgb(255, 76, 76);
display: flex;
justify-content: center;
align-items: center;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 13.2px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}
.pp{
    position: absolute;
    width: 59px;
height: 36px;
border-radius: 13px;
color: white;
background: rgb(0, 0, 0);
    top: 12px;
    left: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pw1{
    position: absolute;
    top: 22px;
    right: 14px;
}
.main-top1{
    padding-top: 42px;
    p{
        color: rgb(62, 62, 62);
font-family: Inter;
font-size: 15.04px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
    }
    h5{
        color: black;
font-family: Ruberoid;
font-size: 15.04px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
padding-top: 12px;
    }
}
        }
    }
    .main1-brend1-2{
        display: flex;
        justify-content: space-between;
        margin-top: 95px;
        h1{
            color: rgb(0, 0, 0);
font-family: Ruberoid;
font-size: 40px;
font-weight: 400;
line-height: 54px;
letter-spacing: -2%;
text-align: left;
        }
        button{
            width: 96px;
height: 36px;
box-sizing: border-box;
border: 1px solid rgb(179, 179, 179);
border-radius: 100px;

        }
    }
    .main1-odezda1{
        display: flex;
        margin-top: 89px;
        gap: 22px;

        .odezda-1{
            position: relative;
            
            img{
                width: 383px;
height: 470px;

            }
            p{
                position: absolute;
                left: 30px;
                bottom: 21px;
                color: rgb(255, 255, 255);
font-family: Inter;
font-size: 40px;
font-weight: 500;
line-height: 48px;
letter-spacing: -2%;
text-align: left;
            }
        }
        .odezda-3{
display: grid;
grid-template-columns: repeat(1, 1fr);
            .odezda-3-1{
              
position: relative;
img{
    width: 383px;
height: 142px;
}
p{
    position: absolute;
    left: 23px;
    bottom: 17px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 40px;
font-weight: 500;
line-height: 48px;
letter-spacing: -2%;
text-align: left;
}
            }
        }
    }
    .main1-brend1-3{
        display: flex;
        justify-content: space-between;
        margin-top: 95px;
        h1{
            color: rgb(0, 0, 0);
font-family: Ruberoid;
font-size: 40px;
font-weight: 400;
line-height: 54px;
letter-spacing: -2%;
text-align: left;
        }
        button{
            width: 96px;
height: 36px;
box-sizing: border-box;
border: 1px solid rgb(179, 179, 179);
border-radius: 100px;

        }
    }
    .main1-Nike1{
        margin-top: 95px;

        p{
            color: rgb(0, 0, 0);
font-family: Ruberoid;
font-size: 40px;
font-weight: 400;
line-height: 54px;
letter-spacing: -2%;
text-align: center;
        }
        .Nike1{
            display: flex;
            margin-top: 25px;
            gap: 20px;

            h1{
                color: rgb(0, 0, 0);
font-family: Effloresce;
font-size: 80.57px;
font-weight: 400;
line-height: 98px;
letter-spacing: -2%;
text-align: center;
            }

            .Nike1-1{
                display: flex;
                align-items: center;
                h2{
                    width: 448px;
height: 0;
border: 1px solid rgb(216, 216, 216);
                }
            }
            .Nike1-2{
                display: flex;
                align-items: center;
                h2{
                    width: 448px;
height: 0;
border: 1px solid rgb(216, 216, 216);
                }
            }
        }
    }
    .main-mixer{
        display: flex;
        gap: 21px;
        margin-top: 71px;

        .mixer1{
            position: relative;
            img{
                width: 387px;
height: 534px;
            }
            p{
                color: rgb(255, 255, 255);
font-family: Ruberoid;
font-size: 22.99px;
font-weight: 400;
line-height: 100%;
letter-spacing: -5%;
text-align: left;
text-transform: uppercase;
position: absolute;
left: 28px;
bottom: 19px;
            }
            .mixer1-img{
                position: absolute;
                top: 17px;
                right: 23px;

                img{
                    width: 35px;
height: 35px;
                }
            }
        }
        .mixer2{
            position: relative;
            img{
                width: 387px;
height: 534px;
            }
            p{
                color: rgb(255, 255, 255);
font-family: Ruberoid;
font-size: 22.99px;
font-weight: 400;
line-height: 100%;
letter-spacing: -5%;
text-align: left;
text-transform: uppercase;
position: absolute;
left: 27px;
top: 29px;
            }
            .mixer1-img{
                position: absolute;
                top: 17px;
                right: 23px;

                img{
                    width: 35px;
height: 35px;
                }
            }
        }
    }
    .main1-spes1{
        position: relative;
        margin-top: 95px;
        img{
            width: 1203px;
height: 485px;
        }
        p{
            color: rgb(255, 255, 255);
font-family: Inter;
font-size: 26px;
font-weight: 400;
line-height: 100%;
letter-spacing: -3%;
text-align: left;

position: absolute;
left: 65px;
top: 58px;
        }
        h1{
            color: rgb(255, 255, 255);
font-family: Ruberoid;
font-size: 60px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0%;
text-align: left;

position: absolute;
left: 65px;
bottom: 42px;
        }
    }
    .main1-podbor1{
        margin-top: 82px;

        .podbor1-top{
            display: flex;
            justify-content: space-between;

            .price-range {
                font-family: Arial, sans-serif;
                display: flex;
                flex-direction: column;
              
                label {
                  font-size: 16px;
                  margin-bottom: 10px;
                }
              
                .slider-container {
                  display: flex;
                  align-items: center;
                  justify-content: center;
              
                  input[type="range"] {
                    // -webkit-appearance: none;
                    width: 200px;
                    height: 2px;
                    background: #ff6f61;
                    outline: none;
                    margin: 0 10px;
              
                    &::-webkit-slider-thumb {
                      -webkit-appearance: none;
                      appearance: none;
                      width: 20px;
                      height: 20px;
                      border: 2px solid black;
                      border-radius: 50%;
                      background: white;
                      cursor: pointer;
                    }
                  }
                }
              
                .price-labels {
                  display: flex;
                  justify-content: center;
                  margin-top: 10px;
              
                  input[type="text"] {
                    width: 70px;
                    text-align: center;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 5px;
                    margin: 0 5px;
                  }
              
                  span {
                    margin: 0 5px;
                  }

             
                }
                button{
                    margin-left: 135px;
                    margin-top: 20px;
                    width: 151px;
height: 56px;
box-sizing: border-box;
border: 1px solid rgb(179, 179, 179);
border-radius: 13px;

background: linear-gradient(80.91deg, rgb(9, 9, 9) 0.927%,rgb(136, 131, 126) 99.112%),linear-gradient(80.91deg, rgb(249, 248, 247) 0.927%,rgb(255, 255, 255) 99.112%),rgba(255, 255, 255, 0.6);
color: white;
                  }
              }
              
        }
        .main1-krros{
            display: flex;
            height: 298px;
            gap: 20px;
            margin-top: 20px;
    
            .krros1{
                width: 284px;
                position: relative;
    height: 298px;
    box-sizing: border-box;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 13px;
    
    background: rgb(255, 255, 255);
    .mmm{
        width: 254px;
    height: 148px;
    padding-left: 15px;
    padding-top: 55px;
    img{
        width: 254px;
    height: 148px;
    }
    
    }
    
    .pww1{
        position: absolute;
        top: 22px;
        right: 14px;
    }
    .main-topp1{
        padding-top: 42px;
        p{
            color: rgb(62, 62, 62);
    font-family: Inter;
    font-size: 15.04px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
        }
        h5{
            color: black;
    font-family: Ruberoid;
    font-size: 15.04px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 12px;
        }
    }
            }
        }

    }
     .main1-custom1{
margin-top: 70px;

        h2{
            color: rgb(62, 62, 62);
font-family: Ruberoid;
font-size: 40px;
font-weight: 400;
line-height: 54px;
letter-spacing: -2%;
text-align: left;
        }
        .center-custom1{
            display: flex;
            gap: 20px;
margin-top: 40px;
            .custom-1{
                position: relative;

                img{
                    width: 590px;
height: 485px;
                }
                h4{
                    position: absolute;
                    left: 55px;
                    top: 62px;
                    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 26px;
font-weight: 400;
line-height: 100%;
letter-spacing: -3%;
text-align: left;
                }
                h1{
                    position: absolute;
                    top: 216px;
                    left: 55px;
                    color: rgb(255, 255, 255);
                    font-family: Inter;
                    font-size: 40px;
                    font-weight: 500;
                    line-height: 100%;
                    text-align: left;   
                }
                p{
                    position: absolute;
                    bottom: 56px;
                    left: 55px;
                    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 26px;
font-weight: 400;
line-height: 100%;
letter-spacing: -3%;
text-align: left;
border-bottom: 1px solid rgb(255, 255, 255);;
                }
            }
        }

     }
     .main1-brend1-new{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;

        h1{
            color: rgb(0, 0, 0);
font-family: Ruberoid;
font-size: 40px;
font-weight: 400;
line-height: 54px;
letter-spacing: -2%;
text-align: left;
        }
        button{
            width: 96px;
height: 36px;
box-sizing: border-box;
border: 1px solid rgb(179, 179, 179);
border-radius: 100px;

        }
    }

    .main1-catolog{
        position: relative;
        margin-top: 54px;
         img{
            width: 1200px;
height: 333px;
         }
         h1{
            position: absolute;
            top: 46px;
            left: 43px;
            color: rgb(62, 62, 62);
font-family: Ruberoid;
font-size: 40px;
font-weight: 400;
line-height: 54px;
letter-spacing: -2%;
text-align: left;
         }
         p{
            position: absolute;
            left: 43px;
            bottom: 120px;
            color: rgb(62, 62, 62);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-align: left;
         }
         button{
            
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            bottom: 24px;
            left: 43px;

            box-sizing: border-box;
border: 1px solid rgb(179, 179, 179);
border-radius: 13px;

background: linear-gradient(80.91deg, rgb(9, 9, 9) 1.031%,rgb(136, 131, 126) 99.012%),linear-gradient(80.91deg, rgb(249, 248, 247) 1.031%,rgb(255, 255, 255) 99.012%),rgba(255, 255, 255, 0.6);

width: 143px;
height: 56px;

color: rgb(255, 255, 255);
font-family: Inter;
font-size: 13.2px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0%;
text-align: left;
         }
    }
    .main1-catolog2{
        position: relative;
        margin-top: 28px;
         img{
            width: 1200px;
height: 333px;
         }
         h1{
            position: absolute;
            top: 46px;
            left: 43px;
            color: rgb(255, 255, 255);
            font-family: Ruberoid;
            font-size: 40px;
            font-weight: 400;
            line-height: 54px;
            letter-spacing: -2%;
            text-align: left;
         }
         p{
            position: absolute;
            left: 43px;
            top: 115px;
            color: rgb(255, 255, 255);
            font-family: Inter;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            text-align: left;
         }
        
         .catolog2-input1{
            display: flex;
                position: absolute;
                gap: 9px;
                bottom: 24px;
                left: 43px;
            button{
            
                display: flex;
                justify-content: center;
                align-items: center;
    
              
    
                border-radius: 35px;
    
                background: linear-gradient(80.91deg, rgb(249, 248, 247) 0.49%,rgb(255, 255, 255) 99.53%);
    
                width: 205px;
                height: 55px;
    
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 13.2px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
             }
             input{
                width: 232px;
                border-radius: 100px;

background: rgb(255, 255, 255);
height: 55px;
             }
             color: rgb(217, 217, 217);
font-family: Inter;
font-size: 17px;
font-weight: 400;
line-height: 21px;
letter-spacing: -2%;
text-align: center;


         }
    }
   
}

