.wishlist-app{
    height: auto;
    margin-top: 100px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    margin-right: 20px;
    color: rgb(99, 94, 94);
    font-weight: 500;
    font-size: larger;
}
nav ul li a:hover {
    color: rgb(11, 5, 5);
}
.kart{
    width: 200px;
    height: 200px;
    box-shadow: 0 3px 5px;
    border-radius: 8px;
    margin: 25px 0 0 25px;

}

.kart img{
    width: 180px;
}


