* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding-top: 70px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;

  .header-top {
    width: 100%;
    pointer-events: all;
    height: 40px;
    color: white;
    text-align: center;
    padding-top: 5px;
    background: black;
    overflow: hidden;

    .ticker-text {
      display: inline-block;
      white-space: nowrap;
      padding-left: 100%;
      animation: ticker-scroll 20s linear infinite;
      font-size: 0.714286rem;
      font-family: "Proxima Nova", "Helvetica Neue", Verdana, Arial, sans-serif;
      letter-spacing: 0.0714286rem;
      line-height: 18px;
      font-weight: 600;
      text-transform: uppercase;
      color: inherit;
    }

    @keyframes ticker-scroll {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }

  .header-middle {
    .middle-svg {
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo-img img {
        width: 60px;
        height: 60px;
        object-fit: cover;
      }

      .logo a {
        color: black;
        text-decoration: none;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 30px;
        letter-spacing: 0.0814588rem;
        font-weight: 600;
      }

      .icons {
        display: flex;
        align-items: center;
        gap: 15px;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .header-end {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    height: 46px;
    background-color: white;
    border-top: 1px solid rgb(242, 242, 242);

    .navbar {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      margin: 0 auto;

      ul {
        display: flex;
        list-style: none;
        gap: 50px;

        li a {
          text-decoration: none;
          color: rgb(61, 58, 58);
          font-size: 16px;

          &:hover {
            color: black;
          }
        }
      }
    }
  }

  .icon-counter {
    position: relative;
    display: inline-block;

    img {
      width: 20px;
      height: 20px;
    }

    .counter {
      position: absolute;
      top: -8px;
      right: -8px;
      background: red;
      color: white;
      font-size: 12px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .menu-toggle {
    display: none;
    cursor: pointer;

    .bar {
      width: 25px;
      height: 3px;
      background-color: black;
      margin: 4px 0;
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 768px) {
    .header-end {
      display: none;
      position: static;
      top: auto;
      padding-top: 10px;
    }
  
    .header-end.active {
      display: block;
    }

    .menu-toggle {
      display: flex;
      text-align: left;
      margin-left: -50px;
    }
    .icons img {
      display: none;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .header {
      flex-direction: column;
      text-align: center;
    }

    .navbar ul {
      justify-content: center;
      align-items: center;
    }
  }
}
