.header {
  box-shadow: 0 2px 4px rgb(104, 101, 101);
  justify-content: space-between;
  background-color: white;
  position: fixed;
  margin: 0 auto;
  display: flex;
  height: 75px;
  width: 100%;
  padding: 0 50px;
  z-index: 9;
  top: 0;

  .header__left {
    display: flex;
    align-items: center;

    .logo {
      a {
        text-decoration: none;
      }

      strong {
        margin: 0;
        color: red;
        text-decoration: none;
      }
    }

    ul {
      display: flex;
      gap: 30px;
      list-style: none;
      margin: 0;

      li a {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        color: #333;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: #007bff;
        }
      }
    }
  }

  .header__right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.header-icon {
  color: black;
  font-size: 20px;
  transition: transform 0.3s ease, color 0.3s ease; 
}

.header-icon:hover {
  transform: scale(1.2); 
  color: red; 
}

.cart-container {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2em 0.6em;
  font-size: 0.8em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 1200px) {
  .header {
    padding: 0 15px;

    .header__left ul {
      gap: 15px;
    }

    .header__right {
      gap: 15px;
    }

  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .header__left ul {
    flex-direction: column;
    gap: 10px;
  }

  .header__right {
    gap: 10px;
  }

}

@media (max-width: 480px) {
  .header {
    padding: 5px;
  }

  .header__left ul {
    gap: 10px;
  }

  .header__right {
    width: 100%;
    justify-content: space-between;
  }

}