/* Основной стиль хедера */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: #fff;
  width: 100%;
}

.hinfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo a {
  font-size: 24px;
  text-decoration: none;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-grow: 1;  
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  gap: 30px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #ff9900;
}

/* Иконкалар */
.icons {
  display: flex;
  gap: 15px;
}

.icon {
  cursor: pointer;
  color: #fff;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #ff9900;
}

/* Меню түймөсү (Hamburger меню) */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

/* Адаптивдүү стили мобилдүү түзмөктөр үчүн */
@media screen and (max-width: 768px) {
  .navbar ul {
      display: none;
      flex-direction: column;
      background-color: #333;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      padding: 20px 0;
  }

  .navbar ul li {
    display: none;
  }

  .navbar ul li a {
    display: none;
  }

  .menu-toggle {
      display: flex;
  }

  .navbar.active ul {
      display: flex;
  }

  .icons {
      display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
      flex-direction: column;
      text-align: center;
  }

  .navbar ul {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .navbar ul li {
      margin: 0 ;
  }
}