.header {
  box-shadow: 0 2px 4px rgb(104, 101, 101);
  justify-content: space-between;
  background-color: white;
  position: fixed;
  margin: 0 auto;
  display: flex;
  height: 75px;
  width: 100%;
  padding: 0 50px;
  z-index: 9;
  top: 0;
  align-items: center;

  .header__left {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      a {
        text-decoration: none;
      }

      strong {
        margin: 0;
        color: red;
        text-decoration: none;
      }
    }

    ul {
      display: flex;
      gap: 30px;
      list-style: none;
      margin: 0;

      li a {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        color: #333;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: #007bff;
        }
      }
    }
  }

  .header__right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.header-icon {
  color: black;
  font-size: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.header-icon:hover {
  transform: scale(1.2);
  color: red;
}

.cart-container {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2em 0.6em;
  font-size: 0.8em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .header {
    padding: 0 30px;
  }
}

@media (max-width: 992px) {
  .header {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    padding: 10px 15px;
  }
  .header__left ul {
    display: none;
  }
}

@media (max-width: 576px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
  }
}
