.konserj {
    width: 1440px;
    margin: 0 auto;


    .header-2 {
        width: 1440px;
        display: flex;
        // margin: 0 auto;


        .box {
            width: 1440px;
            position: relative;


            img {
                width: 100%;
            }


        }


        .header2-left{
            margin-top: 20px;
            position: absolute;
            margin-left: 140px;


            ul{
                display: flex;
                gap: 25px;


                li{
                list-style: none;



                    a{
                        color: rgb(255, 255, 255);
                        font-family: Inter;
                        font-size: 12.25px;
                        font-weight: 400;
                        line-height: 15px;
                        letter-spacing: 1%;
                        text-align: left;
                        text-decoration: none !important;                       
                    }


                    
                }


                p{
                    margin-left: 170px;
                    color: white;
                }

            }
        }


        .header3{
            position: absolute;
            margin-left: 1220px;
            margin-top: 20px;
            display: flex;
            gap: 20px;
            
        }


    
    }



    .ali{
        margin-top: 200px;
        position: absolute;
        color: white;
        font-size: 67px;

        .perexod{
            display: flex;

            h5{
                color: white;
                font-size: 16px;
            }
        }   
        
        h1{
            font-size: 66px;
        }

    }


    .a1{
// position: absolute;
// bottom: 100px;
width: 100%;
// box-shadow: 0px 3px 5px ;
// border: 2px solid black;
position: relative;
bottom: 100px;
img{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 1440px;
height: 1000px;
}
    }
    .a2{
        position: absolute;
        bottom: 650px;
        left: 400px;

        h3{
            color: rgb(0, 0, 0);
font-family: Ruberoid;
font-size: 40px;
font-weight: 400;
line-height: 54px;
letter-spacing: -2%;
text-align: center;
        }
        p{
            color: rgb(77, 77, 77);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: -2%;
text-align: center;
        }
    }
    .nur09{
        position: absolute;
        bottom: -90px;
        left: 490px;
        width: 544px;
height: 678px;
border-radius: 13px;

background: rgb(240, 240, 240);

h1{
    color: rgb(0, 0, 0);
font-family: Ruberoid;
font-size: 28px;
font-weight: 400;
line-height: 38px;
letter-spacing: -2%;
text-align: center;
padding-top: 32px;
}
h2{
    color: rgb(173, 173, 173);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: -2%;
text-align: center;
padding-top: 12px;
}
p{
    color: rgb(77, 77, 77);
font-family: Inter;
font-size: 17px;
font-weight: 400;
line-height: 21px;
text-align: left;
padding-left: 53px;
padding-top: 35px;
}
input{
    width: 438px;
height: 55px;
box-sizing: border-box;
border: 1px solid rgb(179, 179, 179);
border-radius: 100px;

background: rgb(255, 255, 255);

color: rgb(217, 217, 217);
font-family: Inter;
font-size: 17px;
font-weight: 400;
line-height: 21px;
letter-spacing: -2%;
text-align: left;
padding-left: 23px;
margin-left: 52px;
}
.nur-button{
    display: grid; 
    grid-template-columns: repeat(1, 1fr);
    margin-left: 120px;
    button{
        margin-top: 20px;
        width: 294px;
height: 61px;
border-radius: 100px;

background: rgb(255, 255, 255);
border: none;
color: rgb(77, 77, 77);
font-family: Inter;
font-size: 17px;
font-weight: 400;
line-height: 21px;
letter-spacing: -2%;
text-align: center;
    }
    button:hover{
        border-radius: 100px;
        border: none;

background: rgb(255, 255, 255);

color: rgb(233, 233, 233);
font-family: Inter;
font-size: 13.2px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0%;
text-align: left;
    }
}
    }
   
    
}





.header12{
    width: 1440px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: black;

}


.header12-left{
display: flex; 
justify-content: center;
align-items: center;


ul{
display: flex;
gap: 25px;
margin-left: 100px;
color: white;


li{
    list-style: none;


    a {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 12.25px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 1%;
        text-align: left;
        text-decoration: none !important;
    }

}


}

p{
    margin-left: 200px;
    color: white;
}

}

.header1-img{
display: flex;
justify-content: c;
align-items: center;
gap: 20px;
margin-right: 100px;


    img{
width: 25px ;
height: 25px;
    }

}