.brand {
  width: 100%;
  max-width: 1318px;
  margin: 0 auto;
  margin-top: 50px;
}

.all-brands {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  justify-items: center;
  margin-top: 40px;
}

.brand-img {
  width: 142px;
  height: 142px;
  box-shadow: inset;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.06);
}
.brand-img:hover {
  border: 1px solid blue;
}

.brand-img img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  position: absolute;
  left: 18px;
  top: 18px;
}
