
.main-obuv{
    margin-top: 150px;

    .obuv-div{
        display: flex;
        justify-content: space-between;

        .obuv-1{

            .obuv-1img{
                position: relative;

                img{
                    width: 692px;
                    height: 580px;
                    object-fit: cover;
                }
            }
            .obuv-2img{
               
                display: flex;
                gap: 8px;
                overflow: hidden;
                margin-top: 40px;
                 

                img{
                    width: 74px;                               
                    height: 74px;
                    box-sizing: border-box;
                    border: 1px solid rgb(219, 219, 219);
                    background: url(DSC01387),rgb(217, 217, 217);
                }
                img:hover{
                    box-sizing: border-box;
                    border: 1px solid rgb(255, 127, 98);
                    border-radius: 9px;
                    background: url(DSC01387),rgb(217, 217, 217);
                    cursor: pointer;
                }
            }
        }
        .obuv-2{
            margin-left: 20px;
            margin-top: 40px;

            .obuv-2-Nike{
                .nike4{
                    display: flex;
                    a{
                        text-decoration: none;
                    }

                    p{
                        color: rgb(12, 11, 11);
                        font-family: Inter;
                        font-size: 14.25px;
                        font-weight: 400;
                        line-height: 15px;
                        letter-spacing: 6%;
                        text-align: left;
                        
                    }
                }
                .nike3{
                    display: flex;
                    gap: 25px;
                    margin-top: 25px;
                    
                    h1{
                        color: rgb(0, 0, 0);
                        font-family: Inter;
                        font-size: 32.78px;
                        font-weight: 400;
                        line-height: 40px;
                        letter-spacing: 0%;
                        text-align: center;
                    }
                }
                h2{
                    color: rgb(0, 0, 0);
                    font-family: Ruberoid;
                    font-size: 26.85px;
                    font-weight: 400;
                    line-height: 36px;
                    letter-spacing: 0%;
                    text-align: left;
                    padding-top: 24px;
                }
                p{
                    color: rgb(0, 0, 0);
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0%;
                    text-align: left;
                    padding-top: 20px;
                }
                .nike2{
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background: rgb(177, 20, 33);
                }
                .nike-button{
                    display: flex;
                    gap: 19px;
                    margin-top: 30px;
                    a{
                        text-decoration: none;
                    }

                    button{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 184px;
                        height: 56px;
                        box-sizing: border-box;
                        border: 1px solid rgb(179, 179, 179);
                        border-radius: 13px;
                        background: linear-gradient(80.91deg, rgb(9, 9, 9) 0.629%,rgb(136, 131, 126) 99.398%);
                        color: rgb(255, 255, 255);
                        font-family: Inter;
                        font-size: 13.2px;
                        font-weight: 400;
                        line-height: 16px;
                        letter-spacing: 0%;
                        text-align: left;

                    }
                }
            }
            .nike-razmer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 40px;
                h1{
                    color: rgb(0, 0, 0);
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0%;
                    text-align: left;
                }
                p{
                    color: rgb(145, 145, 145);
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 400;
                   
                }
                .razmer-button { 
                    display: flex;
                    gap: 5px;
                button{
                    width: 38.13px;
                    height: 33.75px;
                    border-radius: 7.5px;
                    background: rgb(235, 235, 235);
                    color: rgb(61, 61, 61);
                    font-family: Ruberoid;
                    font-size: 12.5px;
                    font-weight: 400;
                    line-height: 17px;
                    letter-spacing: 0%;
                    text-align: center;
                    border: none;
                    padding: 5px;
                }
                button:hover{
                    border-radius: 7.5px;
                    background: linear-gradient(80.91deg, rgb(9, 9, 9) 4.794%,rgb(136, 131, 126) 95.406%),rgb(0, 0, 0);
                    color: rgb(255, 255, 255);
                    font-family: Ruberoid;
                    font-size: 12.5px;
                    font-weight: 400;
                    line-height: 17px;
                    letter-spacing: 0%;
                    text-align: center;
                    width: 38.13px;
                    height: 33.75px;

                }
            }
            }
            .nike-grid{
                width: 488px;
                display: grid;
                grid-template-columns: repeat(4,1fr);
                height: 402px;
                margin-top: 20px;

                .grid1{
                    position: relative;
                    width: 111px;
                    box-sizing: border-box;
                    border: 1px solid rgb(179, 179, 179);
                    border-radius: 12px;
                    background: rgb(235, 235, 235);
                    height: 93px;

h1{
    position: absolute;
    left: 33px;
    top: 20px;
    color: rgb(61, 61, 61);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;

    }
h2{
    position: absolute;
    left: 25px;
    bottom: 29px;
    color: rgb(0, 0, 0);
    font-family: Ruberoid;
    font-size: 14px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0%;
    text-align: center;
}
p{
 color: rgb(116, 116, 116);
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0%;
text-align: center;
position: absolute;
left: 30px;
bottom: 3px;
}
                }
                .grid1:hover{
                    border-radius: 12px;
                    background: linear-gradient(80.91deg, rgb(9, 9, 9) 4.345%,rgb(136, 131, 126) 95.836%),rgb(0, 0, 0);
h1{
    color: white;

}
h2{
    color: white;

}
p{
    color: white;

}
                }
            }
        }
    }
    .nike-not{
        margin-top: 84px;
        .not-1{

            h1{
                color: rgb(0, 0, 0);
                font-family: Ruberoid;
                font-size: 40px;
                font-weight: 400;
                line-height: 54px;
                letter-spacing: -2%;
                text-align: left;
            }
            .not-kros{
                display: flex;
                height: 298px;
                gap: 20px;
                margin-top: 20px;

                .not-img1{
                    width: 284px;
                    position: relative;
        height: 298px;
        box-sizing: border-box;
        border: 1px solid rgb(214, 214, 214);
        border-radius: 13px;
        
        background: rgb(255, 255, 255);
        .mm{
            width: 254px;
        height: 148px;
        padding-left: 15px;
        padding-top: 55px;
        img{
            width: 254px;
        height: 148px;
        }
        
        }
        .pp-1{
            width: 106px;
        height: 36px;
        border-radius: 13px;
        
        position: absolute;
        top: 12px;
        left: 14px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        background: rgb(0, 0, 0);
        color: rgb(252, 255, 98);
        font-family: Inter;
        font-size: 13.2px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        }
        .pp-2{
            position: absolute;
        top: 12px;
        left: 14px;
            width: 62px;
        height: 36px;
        border-radius: 13px;
        
        background: rgb(255, 76, 76);
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 13.2px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
        }
        .pp{
            position: absolute;
            width: 59px;
        height: 36px;
        border-radius: 13px;
        color: white;
        background: rgb(0, 0, 0);
            top: 12px;
            left: 14px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .pw1{
            position: absolute;
            top: 22px;
            right: 14px;
        }
        .main-top1{
            padding-top: 42px;
            position: relative;
            p{
                color: rgb(62, 62, 62);
        font-family: Inter;
        font-size: 15.04px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: center;
            }
            h5{
                color: black;
        font-family: Ruberoid;
        font-size: 15.04px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
        position: absolute;
        bottom: -25px;
        left: 120px;
            }

        }
                }
                
            }
        }
        .main1-catolog{
            position: relative;
            margin-top: 54px;
             img{
                width: 1200px;
    height: 333px;
             }
             h1{
                position: absolute;
                top: 46px;
                left: 43px;
                color: rgb(62, 62, 62);
    font-family: Ruberoid;
    font-size: 40px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: -2%;
    text-align: left;
             }
             p{
                position: absolute;
                left: 43px;
                bottom: 120px;
                color: rgb(62, 62, 62);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
             }
             button{
                
                display: flex;
                justify-content: center;
                align-items: center;
    
                position: absolute;
                bottom: 24px;
                left: 43px;
    
                box-sizing: border-box;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 13px;
    
    background: linear-gradient(80.91deg, rgb(9, 9, 9) 1.031%,rgb(136, 131, 126) 99.012%),linear-gradient(80.91deg, rgb(249, 248, 247) 1.031%,rgb(255, 255, 255) 99.012%),rgba(255, 255, 255, 0.6);
    
    width: 143px;
    height: 56px;
    
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 13.2px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
             }
        }
    }


    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }
      
      .modal {
        background: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
      }
      
      .close-btn {
        background: none;
        border: none;
        cursor: pointer;
      }
      
}


