.banner-carousel{
  margin-top: 70px;

        img{
            width: 100%;
            height: 650px;
        }
}
@media (max-width: 768px) {
    .banner-carousel {
      .main-image {
        height: auto;
        max-height: 300px; // Мобилдик түзмөктөр үчүн карусель бийиктигин азайтуу
      }
  
      .carousel-caption {
        font-size: 14px; // Мобилдик түзмөктөр үчүн титулдун өлчөмүн кичирейтүү
      }
    }
  }
  
  @media (max-width: 480px) {
    .banner-carousel {
      .main-image {
        height: auto;
        max-height: 250px; // Эң кичине экрандар үчүн
      }
    }
  }
  