// @import "../../styles/mixin" ;

// .banner {
//     @include flexbox(space-between, center);

//     .banner-sidebar {
//         width: 324px;

//         border-right: 1px solid black;

//         ul{
//             @include flexbox(flex-start, flex-start);
//             flex-direction: column;
//             gap: 16px;
//             list-style: none;
//              li{
//                 color: rgb(0, 0, 0);
//                 font-family: Poppins;
//                 font-size: 16px;
//                 font-weight: 400;
//                 line-height: 24px;
//                 letter-spacing: 0%;
//                 text-align: left;
//              }            
//         }
        
//     }
//     .banner-carousel {
//         width: 892px;
//         img{
//             width: 100%;
//             height: 344px;
//         }
//     }
// }